POSTGRES_DB=bozorcheck
POSTGRES_USER=bozorcheck
POSTGRES_PASSWORD=bozorcheck_local_password
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/bozorcheck
DB_USERNAME=bozorcheck
DB_PASSWORD=bozorcheck_local_password
